*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body{
	width: 100%;
	height:100%;
}



#BG{
	position:absolute;
	display: flex;
    width: 100%; 
    height:100%;
	justify-content:center;
	border: solid 2px orange;
	overflow:hidden;
}

#BG img{
	height: 100%;
}

#logo img{
	height: 100%;
}

#container{
	position:absolute;
	top:0;
	left:0;
	display:flex;
	height:100%;
	width:100%;
	align-items:center;
	flex-direction:column;
	justify-content:space-around;
}

#logo{
	display:flex;
	top: 10%;
	position:relative;
	justify-content: center;
	height:15%;
	width:40%;
	border: solid 2px red;
	transform: translate(0, 20%);
}

#circulo1{
	margin-top:400px;
	display: flex;
	position:relative;
	height:18%;
	width:60%;
	border: solid 2px green;
	justify-content: space-between;
}

#circulo2{
	display: flex;
	position:relative;
	height:18%;
	width:60%;
	border: solid 2px yellow;
	justify-content: space-around;
	transform: translate(0, -40%);
}

#circulo3{
	display: flex;
	position:relative;
	height:18%;
	width:60%;
	border: solid 2px pink;
	justify-content: center;
	transform: translate(0, -80%);
}

#container a{
	border: solid 2px black;
	height:100%;
	width:17%;	
}

.circle{
	height:100%;
	width:100%;
}